[user]
	name = Deniz Toprak
	email = deniztoprak@users.noreply.github.com
	signingkey = CC999D07F72586F6
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[commit]
	gpgsign = true
